
<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat | Chat App</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body class="chat">

  <div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
  </div>
<div class="chat__main">
<h3 style="text-align:center; color: white ;background:#265f82;">Welcome to the Chat App</h3>
<ol id="messages" class="chat__messages"></ol>
<div class="chat__footer">
<form id="message-form">
  <input name="message" type="text" placeholder="message" autofocus autocomplete="off"/>
  <button>Send</button>
</form>

<button id="sendLocation">Send Location</button>
</div>
</div>
<script id="message-template" type="text/template">
<li class="message">
  <div class="message__title">
    <h4>{{from}}<h4>
    <span>{{createdAT}}</span>
  </div>
  <div class="message__body">
    <p>{{text}}</p>
  </div>
</li>

</script>

<script id="location-message-template" type="text/template">
<li class="message">
  <div class="message__title">
    <h4>{{from}}<h4>
    <span>{{createdAT}}</span>
  </div>
  <div class="message__body">
    <p><a href="{{text}}" target="_blank">My Current Location</a></p>
  </div>
</li>

</script>

</body>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js">

</script>
<script src="/js/mustache.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/moment.js"></script>
</html>
